<p>table works!</p>

<table [border]="lineswidth">
    <tr>
        <td [attr.colspam]="">rahul</td>
        <td>raj</td>
    </tr>
    <tr>
        <td>
            jai
        </td>
        <td>
            ho
        </td>
    </tr>
    
    <tr>
       <td> piyush</td>
    <td>raj28446</td>
</tr>
<td [attr.colspan]="merge"><tr>Table</tr></td>
</table>


<table [border]="gres">
    <tr>
        <td [style]="hjk" rowspan=3>rahul</td>
        <td>jai</td>
        <td>hjdsagj</td>
    </tr>
    <tr>
        
        <td style="background-color: red;">raj</td>
        <td>sfhdfhdgkj</td>
    </tr>
    <tr >
        <td >raj28446</td>
        <td>dhidejfewjk</td>
    </tr>
</table>


