<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
 
  <h1>hello testing purpose</h1>
  <h2>New Project Here</h2>
  <app-lelseif></app-lelseif>
  <h2>old work from here</h2>
  <app-check></app-check>
  <app-currency-calculator></app-currency-calculator>
  <app-twoway></app-twoway>
  <app-table></app-table>
  <app-hero-detail></app-hero-detail>
  <app-testing></app-testing>
  

 
 </body>